/* HeroSection.scss */

/* Reset default margin/padding and make body full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* remove horizontal scroll */
}

.hero-wrapper {
  width: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen */
  overflow: hidden;

  .bg-media {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* full screen cover */
    display: block;
  }
}
